#backdrop {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 99;
    opacity: 0;
    animation: animateBackdrop 400ms ease-in forwards;
}

@keyframes animateBackdrop {
    to { opacity: 1; }
}
